{% extends 'layout.html.twig' %}

{% block maincontent %}
	<div class="main-detail wrap">
		<h1>{{ news[0].name}}</h1>
	<h6>Author: <small>{{ news[0].author}}</small></h6>
	<h6>Date post: <small> {{ news[0].created_at}}</small></h6>
	<h6>Tag: 
	   		{% for t in tag %}
	    	<a class="tag" href=""> {{ t.name }} </a>
	  		{% endfor %}
	</h6>
	<br><br><br>
	<p>{{ news[0].content}}</p>


	<div class="get_comments">
		<h3><small>Leave Comment</small></h3>


		<form id="cm" action="" method="post">
		    <input type="hidden" name="id" class='hidden-id' value="{{news[0].id}}">
			<label>Name</label>
			<input type="text" name="name" value=""> <br>
			<label> Mail</label>
			<input type="text" name="email" value=""> <br>
			<label> Comment</label>
			<textarea name="comment" rows="2" cols="100"></textarea> <br>
			<!-- <input id="but-comment" type="submit"  value="Đăng"> -->
			<button type="submit" >Đăng</button>
		</form>
	</div>


	
	<div class="display_comments">
		<h3 ><span class="qty-cm"> {{comment| length}} </span>Comment</h3> <hr/>
		{% for c in comment %}
		 
		<div class="item-cm">
			<img src="styles/img/news/download.jpg" alt="">
			<h4 style="color: red" class="author-cm"> {{ c.from_user}} </h4>
			<p class="content-cm">{{ c.body }} </p>
			<p><i>{{c.created_at}}</i> </p> <hr/>
		</div>
		{% endfor %}
		<script>
			$('#cm').submit(function(){
				$.ajax({
			        url: '{{url("getComment")}}',
			        type: 'post',
			        data: $(this).serialize(),
			        dataType: 'json',
			        success: function(data) {

			        		var bien = '<div class="item-cm"><img src="styles/img/news/download.jpg" alt="">' + data.name
								+ data.comment  + data.time + '</div>';
								$('.display_comments').prepend(bien);

								$('.qty-cm').html(data.qty_comment + " ");

			        },
			        error: function(){
			        	alert('e');
			        }
			    });
			     return false;
			    //e.preventDefault();
			});

		</script>
	</div>
	</div>

{% endblock %}