{% extends 'layout.html.twig' %}
{% block maincontent %}
<div class="product wrap">
	<div class="left-sibar">
		<h4>Phân Loại</h4>
		<ul>
		{% for cate in category %}
			<li><a href="{{url('category',{id: cate.type})}}">{{cate.name}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="main-product">
		{# {{ dump(newproduct)}} #}
			<ul class="list-product" id="data-out">
				{% for p in newproduct %}
			<li>
				<div class="product-item">
					<div class="img-feature">
						<img src="/{{p.feature_img}}" width="200" height="250" alt="">
					</div>
					<div class="rate">
						<div id="r1" class="rate_widget">
							<div class="star_1 ratings_stars"></div>
							<div class="star_2 ratings_stars"></div>
							<div class="star_3 ratings_stars"></div>
							<div class="star_4 ratings_stars"></div>
							<div class="star_5 ratings_stars"></div>
						</div>
					</div>
					<div class="desc">
						<p>Name: {{p.name}} </p>
						<p>Giá: {{p.price}} </p>
						<p>Tình trạng: {{p.qty}} </p>
					</div>
					<span class="BTN"> <a href="#" onclick="addcart({{p.id}}) "> AddToCart</a></span>
						<br> 
					<span class="BTN"><a href="{{ url('detail_r',{'id':p.id}) }}">Chi tiet</a></span>
				</div>

			</li>
		{% endfor %}
		</ul>
		{# phan trang tai day #}
		
		{# {% include 'block/navigation.html.twig' %} #}
	</div> 
</div>

<script  type="text/javascript">

function addcart(id){
	var path = "{{ url('addcart_route') }}";
  //	alert(path);
  	$.ajax({
  		// url: '{{ url("addcart_route")}}',
  		url : path,
  		type: 'POST',
  		dataType: 'text',
  		data: {
  			id : id
  		},


  		success: function(data){
  			alert(data);
  			$('#countcart').html(data);
  		}, //vi cai dau , nay ma thuc suot dem
  		error: function(){
  			alert("error");
  		}

  	});
  	
  	
 };


/**
 *  this function for ajax pagination
 * 
 */
 // function demo(page){

 // 	if(page==null){ page = 1}
 // 		// alert(page);
 // 	var id=page;
 // 	$.ajax({

 // 		url: "{{ url('paginate')}}",
 // 		type: 'POST',
 // 		dataType: 'json',
 // 		data: {
 // 			id: id
 // 		},
 // 		success: function(data){
 // 			//alert(data.html);
 // 			$("#pagination").html(data.html);
 // 			$('#data-out').html(data.data);
 			
 // 		},
 // 		error: function(){
 // 			alert("error");
 // 		}

 // 	});
 // }

  $(document).ready(function(){

  	demo();

  });
 



    
</script>

{% endblock %}

